{% extends 'components/base.html' %}
{% load static %}

{% block content %}

<!-- Background Image -->
<style>
  body,
  html {
    height: 100%;
  }
  .bg {
    /* The image used */
    /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp"); */
    background-image: url("https://images.unsplash.com/photo-1555231955-348aa2312e19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="bg">


<!-- Form -->
<!--div class="col-12 col-sm-7 col-md-3 m-auto mt-5"-->
<div class="container pt-3"> </div>
<div class="m-auto pt-5" style="max-width:480px;">
<div class="card border-0 shadow" style="background-color:mistyrose;">
<div class="card-body">
<div class="h3" >Sign in to My Site</div>
<form  method="POST">{% csrf_token %}
<input class="form-control my-4 py-2" type="email" name="email" id="inputEmail" placeholder="Email address" required autofocus>
<input class="form-control my-4 py-2" type="password" name="password" id="inputPassword1" placeholder="Password" required>

{% for field in form %}
<p>
{% for error in field.errors %}
<p style="color: red">{{ error }}</p>
{% endfor %}
</p>
{% endfor %}
{% if form.non_field_errors %}
<div style="color: red">
	<p>{{form.non_field_errors}}</p>
</div>

{% endif %}

<div class="mt-3 text-center">
<!-- Button -->
<button type="submit" class="btn btn-primary">Login</button>
<div class="mt-3"> Don't have an account?  </div>
	<a href="{% url 'register_view' %}" class="nav-link">Sign Up</a> 
</div>

</form>

</div>
</div>
</div>




{% endblock %}